<div class="main-banner">
  <div>
    <h1 class="title">Save any kind of movies</h1>
    <div  class="rolling">
      <h3>
        <span class="title" id="banner-typed-text"></span>
      </h3>
    </div>
  </div>
</div>

<div class="container list-box">
  <% @lists.each do |list| %>
    <h3><%= list.name %></h3>
   <%= link_to "Details", list_path(list) %>
  <% end %>
</div>

<h3>Work out how to delete a list that has a bookmark look at bookmarks for inspiration</h3>
<h3>Clean up controllers and add a partial form.</h3>


<%= cl_image_tag("c6mxf28geyv2jtgudxzi",
      width: 400, height: 300, crop: :fill) %>

  
<%= link_to "Add a new list", new_list_path %>